/* Footer.css */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em 2em 1em 2em;
    position: absolute;
    bottom: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 10;
    user-select: none;
}

.footer-links {
    display: flex;
    justify-content: center;
    ;
}

.footer-links a {
    text-decoration: none;
    font-weight: 400;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin: .5em;
    transition: .2s;
}

.footer-links a:hover {
    color: white;
    border-bottom-color: white;
}

.footer-text {
    text-align: center;
    font-size: .7em;
}

.footer-text .legal-link {
    text-decoration: underline;
    color: black;
    transition: .2s;
}

.footer-text .legal-link:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-left {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;

}

/*

@media (max-width: 1280px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-links {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .footer-left {
        width: 60vh;
        margin-bottom: 3rem;
    }

    .footer-left h1 {
        margin-bottom: 5px;
        margin-left: 1rem;
    }

    .footer-text p {
        text-align: right;
        margin-left: 3.1rem;
    }
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
    }

    .footer-links {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-text p {
        text-align: left;
        margin-left: 3.1rem;

    }

    .footer-left h1 {
        letter-spacing: 3px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 3rem;
    }

}

*/