@font-face {
  font-family: "pilatwide";
  src: url(../assets/PilatWide-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em 2em 3em;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 10;
  /* Asegura que el header esté encima del fondo */
  box-sizing: border-box;
  /* Asegura que el padding se incluya en el tamaño total del elemento */
}

.header div:first-child {
  font-size: 24px;
  font-weight: bold;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.header ul li {
  display: inline;
}

.header a[aria-label="Accessibility options"] {
  margin-top: .4em;
}

.header ul li a {
  color: black;
  padding: .1em;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: pilatwide;
  font-weight: bold;
  font-size: 1.3em;
  font-style: normal;
  line-height: 180%;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  text-decoration: none;
  transition: .3s;

}

.header ul li a:hover {
  color: white !important;
  /* Cambiar el color al pasar el ratón */
  border-bottom-color: white !important;
  /* Cambiar el color del borde inferior al pasar el ratón */
}

/* Media query para dispositivos pequeños */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header div:first-child {
    width: 100vw;
    text-align: center;
    margin-bottom: 10px;
  }

  .header ul {
    width: 100em;
    justify-content: center;
    padding-top: 10px;
    flex-wrap: wrap;
  }

  .header ul li {
    display: inline-block;
    margin: 0;
  }

  .header ul li a {
    display: block;
    font-size: 12px;
    padding: 0px
  }
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background: #000;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
}

.dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.dialog-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
}

.dialog-content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.dialog-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

.dialog-checkbox:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.dialog-checkbox label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

.dialog-checkbox label span {
  flex-grow: 1;
}

.dialog-checkbox input {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

/* Estilo específico para el icono de accesibilidad */
.header a[aria-label="Accessibility options"] {
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}

.header a[aria-label="Accessibility options"]>svg {
  text-decoration: none;
}

.header a[aria-label="Accessibility options"]:hover {
  text-decoration: none;
  color: #fff;
}

.header a[aria-label="Accessibility options"]:hover>svg {
  text-decoration: none;
}

.rhap_volume-controls button:last-child {
  display: none;
}

body {
  transition: background-color 1s;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.dialog-checkbox {
  margin-bottom: 10px;
}