.loader-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; /* align-content to align-items */
    position: fixed; /* Change from absolute to fixed */
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s ease-out; /* Smooth transition */
  }
  
  .loader-container.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out; /* Ensure smooth transition */
  }
  
  .loader-container-text {
    color: black;
    font-size: 4em;
    font-family: "Exo 2", sans-serif;
    margin: auto;
    letter-spacing: 0.3em;
  }
  