/* Asegúrate de que el body y html ocupen todo el espacio y no tengan márgenes ni padding */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  /* Evita cualquier desplazamiento no deseado */
}

#root {
  height: 100%;
  width: 100%;
}

